/* #region common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug *{
    border: 1px dashed;
}

body{
    min-width: 1920px;
}
/* #endregion common */

/* #region utilities */
.container-lg{
    width: 55%;
    margin: auto;
}

.container-sm{
    width: 40%;
    margin: auto;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-content{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.flex-end{
    justify-content: end;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-4{
    width: calc((100%/12)*4);
    padding: 0.5rem;
}

.col-8{
    width: calc((100%/12)*8);
    padding: 0.5rem;
}

.col-2{
    width: 50%;
    padding: 0.5rem;
}

.col-1{
    width: 100%;
    padding: 0.5rem;
}

.btn{
    border: 1px none;
    padding: 5px 15px;
    background-color: #0061ff;
    color: white;
}

.btn:hover{
    background-color: #75a1e7;
}

.bg-lgblu{
    background-color: #b4d0e7;
}

.py-35{
    padding: 35px 0;
}

/* #endregion utilities */

/* #region header */
header{
    height: 80px;
    padding: 0 1rem;
    ul>li{
        list-style-type: none;
        display: inline;
        padding-left: 10px;
        
    }
}

header a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 30%;
}

.call-to-action{
    width: 20%;
}

.left_menu, .right_menu{
    padding-left: 30px;
    width: 80%;
    font-size: 20px;
}

.a:hover{
    border-bottom: 1px solid black;
}
/* #endregion header */

/* #region main */
h1{
    font-size: 100px;
    padding-top: 40px;
    padding-bottom: 25px;
    margin: 0 -1rem;
}

.font-s25{
    font-size: 25px;
}

.jumbotron{
    width: 100%;
}

.img-customer-proposal{
    max-width: 100%;
}

div a{
    text-decoration: none;
}
/* #endregion main */

/* #region footer */
/* #endregion footer */

